.card {
  background-color: #1c122b;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  max-width: 300px;
  padding-top: 0.4rem;
  width: 100%;
  margin: 1rem;
}

.card-image-container {
  width: 95%;
  height: 250px;
  position: relative;
}


.card-title {
  padding: 0.3rem;
}

.breed-container {
  width: 100%;
  height: 100%;
  background-color: #1c122b;
  color: #fff;
  position: relative;
  opacity: 0.8;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 1;
}

li {
    cursor: pointer;
  }

.active-breed {
  display: flex;
}